@using Storage.Helpers
@model Storage.Models.ProductModel

@{
    ViewBag.Title = "Удалить Товар";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удалить Товар</h2>

<h3>Вы уверены, что хотите удалить этот товар?</h3>
<fieldset>
    <legend>Товар</legend>
    <br/>
    <div class="display-label">
        <strong>@Html.LabelFor(model => model.Code)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>
    <br/>
    <div class="display-label">
        <strong>@Html.LabelFor(model => model.Name)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <br/>
    <div class="display-label">
        <strong>@Html.LabelFor(model => model.Unit)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unit)
    </div>
    <br/>
    <div class="display-label">
        <strong>@Html.LabelFor(model => model.WholesalePrice)</strong>
    </div>
    <div class="display-field">
        @CurrencyHelper.FormatCurrency(Model.WholesalePrice)
    </div>
    <br/>
    <div class="display-label">
        <strong>@Html.LabelFor(model => model.ShallowWholesalePrice)</strong>
    </div>
    <div class="display-field">
        @CurrencyHelper.FormatCurrency(Model.ShallowWholesalePrice)
    </div>
    <br/>
    <div class="display-label">
        <strong>@Html.LabelFor(model => model.RetailPrice)</strong>
    </div>
    <div class="display-field">
        @CurrencyHelper.FormatCurrency(Model.RetailPrice)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Вернуться к Списку Товаров", "Index")
    </p>
}
