@model Storage.Models.ProductModel

@{
    ViewBag.Title = "Редактировать Товар";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактировать Товар</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Товар</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unit)
            @Html.ValidationMessageFor(model => model.Unit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WholesalePrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WholesalePrice)
            @Html.ValidationMessageFor(model => model.WholesalePrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShallowWholesalePrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShallowWholesalePrice)
            @Html.ValidationMessageFor(model => model.ShallowWholesalePrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RetailPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RetailPrice)
            @Html.ValidationMessageFor(model => model.RetailPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Code)
            @Html.ValidationMessageFor(model => model.Code)
        </div>

        <p>
            <input type="submit" value="Изменить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться к Списку Товаров", "Index")
</div>
