@using Storage.Helpers
@model IEnumerable<Storage.Models.ProductModel>

@{
    ViewBag.Title = "Список Товаров";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список Товаров</h2>

<p>
    @Html.ActionLink("Создать Товар", "Create")
</p>

@using (Html.BeginForm())
{
    <p class="category-filter">
        Категория: @Html.DropDownList("CategoryID", (IEnumerable<SelectListItem>)ViewBag.Categories)
        <input type="submit" value="Фильтровать" />
    </p>
}

<table class="table" width="100%">
    <tr>
        <th style="text-align: center; width:30px;">
            Код
        </th>
        <th style="text-align: center;">
            Наименование
        </th>
        <th style="text-align: center;">
            Категория
        </th>
        <th style="text-align: center; width:80px;">
            Ед.
        </th>
        <th style="text-align: center; width:60px;">
            Цена (опт)
        </th>
        <th style="text-align: center; width:90px;">
            Цена (мелкий опт)
        </th>
        <th style="text-align: center; width:60px;">
            Цена (розница)
        </th>
        <th style="width: 230px;"></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td style="text-align: center;">
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td style='text-align: left'>
            @Html.DisplayFor(modelItem => item.Unit)
        </td>
        <td style='text-align: right'>
            @CurrencyHelper.FormatCurrency(item.WholesalePrice)
        </td>
        <td style='text-align: right'>
            @CurrencyHelper.FormatCurrency(item.ShallowWholesalePrice)
        </td>
        <td style='text-align: right'>
            @CurrencyHelper.FormatCurrency(item.RetailPrice)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Детали", "Details", new { id = item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
