@using Storage.Helpers
@model IEnumerable<Storage.Models.ProductModel>

@{
    ViewBag.Title = "Прайс";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Прайс</h2>

<p class="print-link">
    <a href="JavaScript:window.print();">Распечатать Прайс</a>
</p>

@using (Html.BeginForm()) 
{
    <p class="category-filter">
        Категория: @Html.DropDownList("CategoryID", (IEnumerable<SelectListItem>)ViewBag.Categories)
        <input type="submit" value="Фильтровать" />
    </p>
}

<table class="table" style="width: 100%">
    <tr>
        <th style="width: 70%" colspan="2">
            НАИМЕНОВАНИЕ
        </th>
        <th style="width: 10%">
            КР. ОПТ
        </th>
        <th style="width: 10%">
            ОПТ
        </th>
        <th style="width: 10%">
            РОЗНИЦА
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="text-align: center; width: 5%;">
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td style="text-align: center">
            @CurrencyHelper.FormatCurrency(item.WholesalePrice)
        </td>
        <td style="text-align: center">
            @CurrencyHelper.FormatCurrency(item.ShallowWholesalePrice)
        </td>
        <td style="text-align: center">
            @CurrencyHelper.FormatCurrency(item.RetailPrice)
        </td>
    </tr>
}
</table>
