@model IEnumerable<Storage.Models.ClientModel>

@{
    ViewBag.Title = "Список Клиентов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список Клиентов</h2>

<p>
    @Html.ActionLink("Создать Клиента", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ФИО
        </th>
        <th>
            Контактный телефон
        </th>
        <th>
            Адрес
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Детали", "Details", new { id=item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
