@using Storage.Helpers
@model Storage.ViewModels.InvoiceViewModel

@{
    ViewBag.Title = ViewBag.Type == "Income" ? "Создать Приходную Накладную" : "Создать Расходную Накладную";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/CreateInvoice.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Site.js")" type="text/javascript"></script>

<script type="text/javascript">
    var currentRegion = '@CurrencyHelper.GetCurrentCultureName()';

    $(document).ready(function () {
        InsertFirstRow();

        SetProductCodeEvent('@Url.Action("GetProductByCode", "Product")');
        SetProductQuantityEvent();
        SetDeleteLineEvent();
    });

</script>

@if (ViewBag.Type == "Income")
{
    <h2>Приходная накладная № @Model.InvoiceModel.Number от @Model.InvoiceModel.Date.Day @DateTimeHelper.GetMonthName(Model.InvoiceModel.Date) @Model.InvoiceModel.Date.Year г.</h2>
}
else
{
    <h2>Расходная накладная № @Model.InvoiceModel.Number от @Model.InvoiceModel.Date.Day @DateTimeHelper.GetMonthName(Model.InvoiceModel.Date) @Model.InvoiceModel.Date.Year г.</h2>
}

@using (Html.BeginForm()) {

@Html.Hidden("InvoiceViewModel.InvoiceModel.Date", Model.InvoiceModel.Date)
@Html.Hidden("InvoiceViewModel.InvoiceModel.Type", Model.InvoiceModel.Type)
@Html.Hidden("InvoiceViewModel.InvoiceModel.Number", Model.InvoiceModel.Number)
    
<table class="table">
    <tr>
        <td>
            Поставщик:
        </td>
        <td>
            @Html.DropDownList("InvoiceViewModel.InvoiceModel.Supplier.ID", Model.Clients)
        </td>
    </tr>
    <tr>
        <td>
            Получатель:
        </td>
        <td>
            @Html.DropDownList("InvoiceViewModel.InvoiceModel.Recipient.ID", Model.Clients)
        </td>
    </tr>
    <tr>
        <td>
            Цена:
        </td>
        <td>
            <select name="PriceType" id="PriceType">
                <option value="RetailPrice">Цена (розница)</option>
                <option value="ShallowWholesalePrice">Цена (мелкий опт)</option>
                <option value="WholesalePrice">Цена (опт)</option>
            </select>            
        </td>
    </tr>
</table>
<br/>
<table id="invoiceProducts" class="table" width="100%">
    <tr>
        <th style="text-align: center; width: 20px;">
            №
        </th>
        <th style="text-align: center; width: 30px;">
            Код
        </th>
        <th style="text-align: center;">
            Наименование
        </th>
        <th style="text-align: center; width: 20px;">
            Кол.
        </th>
        <th style="text-align: center; width: 50px;">
            Ед.
        </th>
        <th style="text-align: center; width: 52px;">
            Цена
        </th>
        <th style="text-align: center; width: 60px;">
            Сумма
        </th>
        <th style="width: 60px;">
        </th>
    </tr>
    <tr>
        <td colspan="6" style="text-align: right; border: 0px;">
            Итого:
        </td>
        <td style="text-align: right; border: 0px;">
            <span class="mastertotal"></span>
        </td>
    </tr>
</table>


<p>
    <input type="submit" value="Сохранить" />
</p>
}