@using Storage.DAO
@{
    ViewBag.Title = "Домашняя страница";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Домашняя страница</h2>
<p>
    @UserDAO.GetUserFullName(User.Identity.Name), добро пожаловать в систему!
</p>
<br/>
<p>
    Ниже преведенно описание каждого пункта меню:
</p>
<ul>
    <li>
        <strong>@Html.ActionLink("Начало", "Index", "Home")</strong> - здесь Вы можете ознакомиться с основными пунктами меню(товар, клиент и т.д.)
    </li>
    <li>
         <strong>@Html.ActionLink("Товар", "Index", "Product")</strong> - здесь Вы можете внести всю необходимую информацию о товаре(код, цена и т.д.)
    </li>
    <li>
        <strong>@Html.ActionLink("Категория", "Index", "Category")</strong> - здесь Вы можете внести всю необходимую информацию о категории(название и т.д.)
    </li>
    <li>
        <strong>@Html.ActionLink("Клиент", "Index", "Client")</strong> - здесь Вы можете внести всю необходимую информацию о клиенте(ФИО, адресс, телефон и т.д.)
    </li>
    <li>
        <strong>@Html.ActionLink("Приход", "Index", "Invoice", new { type = "Income" }, null)</strong> - здесь Вы можете внести всю необходимую информацию о приходной накладной(товар, поставщик, покупатель и т.д.)
    </li>
    <li>
        <strong>@Html.ActionLink("Расход", "Index", "Invoice", new { type = "Expenditure" }, null)</strong> - здесь Вы можете внести всю необходимую информацию о расходной накладной(товар, поставщик, покупатель и т.д.)
    </li>
    <li>
        <strong>@Html.ActionLink("Прайс", "PriceList", "Product")</strong> - здесь Вы можете автоматически сгенерировать прайс лист всего перечисленного товара
    </li>
    <li>
        <strong>@Html.ActionLink("Настройки", "Edit", "User")</strong> - здесь Вы можете обновить необходимую для Вашего профайла информацию
    </li>
    <li>
        <strong>@Html.ActionLink("Выход", "LogOff", "Account")</strong> - здесь Вы можете осуществить выход из системы
    </li>
</ul>