@model IEnumerable<Storage.Models.CategoryModel>

@{
    ViewBag.Title = "Список Категорий";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список Категорий</h2>

<p>
    @Html.ActionLink("Создать Категорию", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Действия
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Детали", "Details", new { id = item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
